$couleurprim: #9356dc;
$couleursec: #ff79da;
$couleurter: #99e2d0;
$padding: 15px;

* {
  list-style: none;
  text-decoration: none;
}
a {
  color: black;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/*Entete*/
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px grey;
  position: fixed;
  top: 0px;
  .entete {
    display: flex;
    justify-content: center;
    padding: 22px;
    .arrow {
      position: absolute;
      left: 21px;
      bottom: 27px;
      font-size: 25px;
    }
    .logo {
      display: block;
    }
  }
}
/*image*/
.img {
  object-fit: cover;
  width: 100%;
  margin-top: 81px;
}
/*page menu (section)*/
section {
  background-color: #f6f6f6;
  margin-top: -40px;
  overflow-x: overlay;
  border-radius: 35px;
  .titremenu {
    display: flex;
    justify-content: space-between;
    margin: 5px 40px;
    align-items: center;
    i {
      font-size: 23px;
    }
  }
  .entree {
    h2 {
      font-weight: 300;
      font-size: 18px;
      margin-left: 26px;
      margin-bottom: 4px;
    }
  }
  .underline-entree {
    background-color: #99e2d0;
    height: 3px;
    width: 47px;
    margin-left: 26px;
  }
  .plat {
    h2 {
      font-weight: 300;
      font-size: 18px;
      margin-left: 26px;
      margin-bottom: 4px;
    }
  }
  .underline-plat {
    background-color: #99e2d0;
    height: 3px;
    width: 47px;
    margin-left: 26px;
  }
  .dessert {
    h2 {
      font-weight: 300;
      font-size: 18px;
      margin-left: 26px;
      margin-bottom: 4px;
    }
  }
  .underline-dessert {
    background-color: #99e2d0;
    height: 3px;
    width: 47px;
    margin-left: 26px;
  }
  .choixmenu {
    border-radius: 15px;
    box-shadow: 1px 1px 17px 4px #e4dfdf;
    width: 90%;
    justify-content: center;
    margin: 20px auto;
    height: 70px;
  }
  .titlemenu {
    padding: 10px;
    font-weight: bold;
  }
  .descriptionmenu {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
  }
  .price {
    font-weight: bold;
  }
  .bouton {
    border: none;
    width: 200px;
    margin: 30px auto;
    height: 50px;
    color: white;
    border-radius: 100px;
    background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    font-weight: bold;
    cursor: pointer;
    display: block;
  }
}
/*Footer*/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 140px;
  padding: 30px;
  a {
    color: white;
    display: block;
    margin: 5px;
    .footerOMF {
      font-family: "Shrikhand";
    }
    i {
      margin-right: 10px;
    }
  }
}
