$couleurprim: #9356dc;
$couleursec: #ff79da;
$couleurter: #99e2d0;
$padding: 15px;

* {
  list-style: none;
  text-decoration: none;
}
a {
  color: black;
}
body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
/* LOADER */
.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s 0s 1 both loader;
  @keyframes loader {
    from {
      z-index: 999;
      opacity: 1;
    }
    to {
      z-index: -10;
      opacity: 0;
    }
  }
  .chargement {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 8px rgb(221, 211, 211);
    border-left: solid 8px #ff79fa;
    animation: 1s 0s 10 both chargement;
    @keyframes chargement {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
/*Entete*/
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px grey;
  position: fixed;
  z-index: 2;
  .entete {
    display: flex;
    justify-content: center;
    padding: 22px;
    .logo {
      display: block;
    }
  }
}
/*Localisation*/
.loca {
  padding-top: 83px;
  .txtloca {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    .mapico {
      margin-right: 10px;
    }
    h1 {
      font-weight: 400;
      font-size: 15px;
    }
  }
}
/*Présentation*/
.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  h1 {
    margin: 0 auto;
    padding: 20px 70px;
  }
  .txtdepresentation {
    margin: 0 auto;
    font-weight: 300;
  }
  .bouton {
    border: none;
    width: 200px;
    margin: 50px auto;
    height: 50px;
    color: white;
    border-radius: 100px;
    background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    font-weight: bold;
    cursor: pointer;
  }
}
/*Filtres*/

.filtres {
  height: 405px;
  h2 {
    margin: 30px;
  }
  .choix {
    width: 85%;
    height: 75px;
    box-shadow: 1px 1px 15px 1px rgba(70, 70, 70, 0.3);
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: #f6f6f6;
    position: relative;
    cursor: pointer;

    .number {
      position: absolute;
      left: -12px;
      background-color: #9356dc;
      font-weight: 400;
      color: white;
      width: 25px;
      height: 25px;
      border-radius: 50px;
      justify-content: center;
      display: flex;
      align-items: center;
    }

    i {
      color: #7e7e7e;
      margin: 30px;
      font-size: 18px;
    }
    &:hover {
      background-color: #f5edff;
      i {
        color: $couleurprim;
      }
    }
  }
}

/*Restaurants*/

.restaurant {
  background-color: #f6f6f6;
  h2 {
    margin: 15px 20px;
    padding-top: 63px;
  }

  .menuresto {
    padding-bottom: 9px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 1px rgba(70, 70, 70, 0.3);
    position: relative;
    margin: 20px;

    .descriptionimg {
      display: flex;
      flex-direction: column;
      margin: 13px;
      .nomspalette {
        font-weight: bold;
        margin-bottom: 3px;
      }
    }
    .iconcoeur {
      position: absolute;
      right: 20px;
      bottom: 30px;
      width: 50px;
      height: 25px;
      .fas {
        opacity: 0;
        transition: all 0.2 linear;
        background: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(0.82);
        &:hover {
          opacity: 1;
          animation: 0.8s 0s 1 both transition;
          @keyframes transition {
            from {
              opacity: 0;
              to {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .iconcoeur .fas,
    .iconcoeur .far {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 25px;
    }

    .img1 {
      width: 100%;
      height: 150px;
      object-fit: cover;
      background-color: #fff;
      color: #fff;
      border-radius: 20px 20px 0 0;
    }
    .img2 {
      width: 100%;
      height: 150px;
      object-fit: cover;
      background-color: #fff;
      color: #fff;
      border-radius: 20px 20px 0 0;
    }
    .img3 {
      width: 100%;
      height: 150px;
      object-fit: cover;
      background-color: #fff;
      color: #fff;
      border-radius: 20px 20px 0 0;
    }
    .img4 {
      width: 100%;
      height: 150px;
      object-fit: cover;
      background-color: #fff;
      color: #fff;
      border-radius: 20px 20px 0 0;
    }
  }
}

/*Footer*/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 140px;
  padding: 30px;
  a {
    color: white;
    display: block;
    margin: 5px;
    .footerOMF {
      font-family: "Shrikhand";
    }
    i {
      margin-right: 10px;
    }
  }
}

/*Resposnsive*/

@media screen and (min-width: 1000px) {
  .menuresto {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
}
