* {
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/*Entete*/
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px 0px grey;
          box-shadow: 0px 4px 8px 0px grey;
  position: fixed;
  top: 0px;
  z-index: 99;
}

header .entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px;
}

header .entete .arrow {
  position: absolute;
  left: 21px;
  bottom: 27px;
  font-size: 25px;
}

header .entete .logo {
  display: block;
}

/*image*/
.bgimg {
  width: 100%;
  height: 393px;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: fixed;
  z-index: -1;
  margin-top: 81px;
}

/*page menu (section)*/
section {
  background-color: #f6f6f6;
  margin-top: -40px;
  overflow-x: overlay;
  border-radius: 35px 35px 0px 0px;
}

section .titremenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section .titremenu .iconcoeur {
  position: absolute;
  right: 20px;
  bottom: 30px;
  width: 50px;
  height: 25px;
}

section .titremenu .iconcoeur .fas {
  opacity: 0;
  -webkit-transition: all 0.2 linear;
  transition: all 0.2 linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform: scale(0.82);
          transform: scale(0.82);
}

section .titremenu .iconcoeur .fas:hover {
  opacity: 1;
  -webkit-animation: 0.8s 0s 1 both transition;
          animation: 0.8s 0s 1 both transition;
}

@-webkit-keyframes transition {
  from {
    opacity: 0;
    to {
      opacity: 1;
    }
  }
}

@keyframes transition {
  from {
    opacity: 0;
    to {
      opacity: 1;
    }
  }
}

section .titremenu .iconcoeur .fas,
section .titremenu .iconcoeur .far {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 25px;
}

section .entree h2 {
  font-weight: 300;
  font-size: 18px;
  margin-left: 26px;
  margin-bottom: 4px;
}

section .underline-entree {
  background-color: #99e2d0;
  height: 3px;
  width: 47px;
  margin-left: 26px;
}

section .plat h2 {
  font-weight: 300;
  font-size: 18px;
  margin-left: 26px;
  margin-bottom: 4px;
}

section .underline-plat {
  background-color: #99e2d0;
  height: 3px;
  width: 47px;
  margin-left: 26px;
}

section .dessert h2 {
  font-weight: 300;
  font-size: 18px;
  margin-left: 26px;
  margin-bottom: 4px;
}

section .underline-dessert {
  background-color: #99e2d0;
  height: 3px;
  width: 47px;
  margin-left: 26px;
}

section .choixmenu {
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 17px 4px #e4dfdf;
          box-shadow: 1px 1px 17px 4px #e4dfdf;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  height: 70px;
  -webkit-animation: 1s 1s 1 both annimenu;
          animation: 1s 1s 1 both annimenu;
}

section .choixmenu:hover .animationvalider {
  -webkit-animation: 1s 0s 1 both check;
          animation: 1s 0s 1 both check;
}

@-webkit-keyframes check {
  from {
    width: 0%;
  }
  to {
    width: 80px;
  }
}

@keyframes check {
  from {
    width: 0%;
  }
  to {
    width: 80px;
  }
}

section .choixmenu:hover .animationvalider .fas {
  -webkit-animation: 1s 0s 1 both rotationcheck;
          animation: 1s 0s 1 both rotationcheck;
}

@-webkit-keyframes rotationcheck {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotationcheck {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes annimenu {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin: 20px auto;
  }
}

@keyframes annimenu {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin: 20px auto;
  }
}

section .choixmenu .animationvalider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 0%;
  height: 70px;
  background-color: #99e2d0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 15px 15px 0;
}

section .choixmenu1 {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

section .choixmenu2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

section .choixmenu3 {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

section .choixmenu4 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

section .choixmenu5 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

section .choixmenu6 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

section .choixmenu7 {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

section .choixmenu8 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

section .choixmenu9 {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

section .titlemenu {
  padding: 10px 0px;
  font-weight: bold;
}

section .descriptionmenu {
  padding: 0px 10px;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section .price {
  font-weight: bold;
  margin: 37px 13px 0px 0px;
}

section .bouton {
  border: none;
  width: 200px;
  margin: 30px auto;
  height: 50px;
  color: white;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  font-weight: bold;
  cursor: pointer;
  display: block;
}

/*Footer*/
footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 140px;
  padding: 30px;
}

footer a {
  color: white;
  display: block;
  margin: 5px;
}

footer a .footerOMF {
  font-family: "Shrikhand";
}

footer a i {
  margin-right: 10px;
}

@media screen and (max-width: 1920px) {
  section {
    max-width: 1137px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=sass2.css.map */