@charset "UTF-8";
* {
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/* LOADER */
.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: 3s 0s 1 both loader;
          animation: 3s 0s 1 both loader;
}

@-webkit-keyframes loader {
  from {
    z-index: 999;
    opacity: 1;
  }
  to {
    z-index: -10;
    opacity: 0;
  }
}

@keyframes loader {
  from {
    z-index: 999;
    opacity: 1;
  }
  to {
    z-index: -10;
    opacity: 0;
  }
}

.loader .chargement {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 8px #ddd3d3;
  border-left: solid 8px #ff79fa;
  -webkit-animation: 1s 0s 10 both chargement;
          animation: 1s 0s 10 both chargement;
}

@-webkit-keyframes chargement {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes chargement {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*Entete*/
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px 0px grey;
          box-shadow: 0px 4px 8px 0px grey;
  position: fixed;
  z-index: 2;
}

header .entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px;
}

header .entete .logo {
  display: block;
}

/*Localisation*/
.loca {
  padding-top: 83px;
}

.loca .txtloca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
}

.loca .txtloca .mapico {
  margin-right: 10px;
}

.loca .txtloca h1 {
  font-weight: 400;
  font-size: 15px;
}

/*Présentation*/
.presentation {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.presentation h1 {
  margin: 0 auto;
  padding: 20px 70px;
  text-align: center;
}

.presentation .txtdepresentation {
  margin: 0 auto;
  font-weight: 300;
}

.presentation .bouton {
  border: none;
  width: 200px;
  margin: 50px auto;
  height: 50px;
  color: white;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  font-weight: bold;
  cursor: pointer;
}

.presentation .bouton:hover {
  -webkit-box-shadow: 1px 1px 12px #aaaaaa;
          box-shadow: 1px 1px 12px #aaaaaa;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*Filtres*/
.filtres {
  height: 380px;
  max-width: 1200px;
  margin: 0 auto;
}

.filtres h2 {
  margin: 30px;
}

.filtres .choix {
  width: 85%;
  height: 75px;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(70, 70, 70, 0.3);
          box-shadow: 1px 1px 15px 1px rgba(70, 70, 70, 0.3);
  margin: 20px auto;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  background-color: #f6f6f6;
  position: relative;
  cursor: pointer;
}

.filtres .choix .number {
  position: absolute;
  left: -12px;
  background-color: #9356dc;
  font-weight: 400;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtres .choix i {
  color: #7e7e7e;
  margin: 30px;
  font-size: 18px;
}

.filtres .choix:hover {
  background-color: #f5edff;
}

.filtres .choix:hover i {
  color: #9356dc;
}

/*Restaurants*/
.restaurant {
  background-color: #f6f6f6;
}

.restaurant h2 {
  padding-top: 63px;
  max-width: 1160px;
  margin: 15px auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 30px;
}

.restaurant .menuresto {
  padding-bottom: 9px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(70, 70, 70, 0.3);
          box-shadow: 1px 1px 15px 1px rgba(70, 70, 70, 0.3);
  position: relative;
  margin: 20px;
}

.restaurant .menuresto a {
  display: block;
}

.restaurant .menuresto .nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  padding: 5px 9px;
  border-radius: 2px;
  -webkit-animation: 1s 3s 5 both nouveau;
          animation: 1s 3s 5 both nouveau;
}

@-webkit-keyframes nouveau {
  50% {
    opacity: 0;
  }
}

@keyframes nouveau {
  50% {
    opacity: 0;
  }
}

.restaurant .menuresto .descriptionimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 13px;
}

.restaurant .menuresto .descriptionimg .nomspalette {
  font-weight: bold;
  margin-bottom: 3px;
}

.restaurant .menuresto .iconcoeur {
  position: absolute;
  right: 20px;
  bottom: 30px;
  width: 50px;
  height: 25px;
}

.restaurant .menuresto .iconcoeur .fas {
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-transform: scale(0.82);
          transform: scale(0.82);
}

.restaurant .menuresto .iconcoeur .fas:hover {
  opacity: 1;
  -webkit-animation: 0.8s 0s 1 both transition;
          animation: 0.8s 0s 1 both transition;
}

@-webkit-keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restaurant .menuresto .iconcoeur .fas,
.restaurant .menuresto .iconcoeur .far {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
}

.restaurant .menuresto .img1 {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
  color: #fff;
  border-radius: 20px 20px 0 0;
}

.restaurant .menuresto .img2 {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
  color: #fff;
  border-radius: 20px 20px 0 0;
}

.restaurant .menuresto .img3 {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
  color: #fff;
  border-radius: 20px 20px 0 0;
}

.restaurant .menuresto .img4 {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
  color: #fff;
  border-radius: 20px 20px 0 0;
}

/*Footer*/
footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 140px;
  padding: 30px;
}

footer a {
  color: white;
  display: block;
  margin: 5px;
}

footer a .footerOMF {
  font-family: "Shrikhand";
}

footer a i {
  margin-right: 10px;
}

/*Resposnsive*/
@media screen and (min-width: 1000px) {
  .restaurantbloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  .restaurantbloc .menuresto {
    width: calc(50% - 40px);
  }
  .restaurant h2 {
    width: calc(100% - 40px);
  }
  .filtres {
    height: auto;
  }
  .filtres .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 25px;
  }
  .filtres .box .choix {
    width: calc(30% - 20px);
  }
  footer a {
    margin: 5px auto;
  }
}
/*# sourceMappingURL=sass.css.map */