$couleurprim: #9356dc;
$couleursec: #ff79da;
$couleurter: #99e2d0;
$padding: 15px;

* {
  list-style: none;
  text-decoration: none;
}
a {
  color: black;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/*Entete*/
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px grey;
  position: fixed;
  top: 0px;
  z-index: 99;
  .entete {
    display: flex;
    justify-content: center;
    padding: 22px;
    .arrow {
      position: absolute;
      left: 21px;
      bottom: 27px;
      font-size: 25px;
    }
    .logo {
      display: block;
    }
  }
}

/*image*/
.bgimg{
  width: 100%;
    height: 393PX;
}
.img {
  object-fit: cover;
    width: 100%;
    position: fixed;
    z-index: -1;
    margin-top: 81px;
}
/*page menu (section)*/
section {
  background-color: #f6f6f6;
  margin-top: -40px;
  overflow-x: overlay;
  border-radius: 35px 35px 0px 0px;
  .titremenu {
    display: flex;
    justify-content: space-between;
    margin: 5px 40px;
    align-items: center;
    position: relative;
    .iconcoeur {
      position: absolute;
      right: -15px;
      width: 50px;
      height: 25px;
      font-size: 23px;
      .fas {
        opacity: 0;
        transition: all 0.2 linear;
        background: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(0.82);
        &:hover {
          opacity: 1;
          animation: 0.8s 0s 1 both transition;
          @keyframes transition {
            from{
              opacity: 0;
            to{
                opacity: 1;
              }
            }
          }
        }
      }
      .iconcoeur .fas,
    .iconcoeur .far {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    }
  }
  .entree {
    h2 {
      font-weight: 300;
      font-size: 18px;
      margin-left: 26px;
      margin-bottom: 4px;
    }
  }
  .underline-entree {
    background-color: #99e2d0;
    height: 3px;
    width: 47px;
    margin-left: 26px;
  }
  .plat {
    h2 {
      font-weight: 300;
      font-size: 18px;
      margin-left: 26px;
      margin-bottom: 4px;
    }
  }
  .underline-plat {
    background-color: #99e2d0;
    height: 3px;
    width: 47px;
    margin-left: 26px;
  }
  .dessert {
    h2 {
      font-weight: 300;
      font-size: 18px;
      margin-left: 26px;
      margin-bottom: 4px;
    }
  }
  .underline-dessert {
    background-color: #99e2d0;
    height: 3px;
    width: 47px;
    margin-left: 26px;
  }
  .choixmenu {
    border-radius: 15px;
    box-shadow: 1px 1px 17px 4px #e4dfdf;
    width: 90%;
    justify-content: center;
    margin: 20px auto;
    height: 70px;
    position: relative;
    &:hover{
    .animationvalider{
        animation: 1s 0s 1 both check;
        @keyframes check {
          from{
            width: 0%;
          }
          to{
            width: 27%;
          }
        }
        .fas{
          animation: 1s 0s 1 both rotationcheck;
          @keyframes rotationcheck {
            from{
              transform: rotate(0deg);
            }
            to{
              transform: rotate(360deg);
            }
          }
        }
      }
    }
    animation: 1s 1s 1 both annimenu;
    @keyframes annimenu {
      from{
        opacity: 0;
        margin-top: 30px;
      }
      to{
        opacity: 1;
        margin: 20px auto;
      }
    }
    
    .animationvalider{
      display: flex;
      position: absolute;
      right: 0px;
      top: 0px;
      overflow: hidden;
      width: 0%;
      height: 70px;
      background-color: $couleurter;
      justify-content: center;
      align-items: center;
      border-radius: 0 15px 15px 0;
    }
  }
  @for $i from 1 through 9 {
    .choixmenu#{$i} {
      animation-delay:$i*0.15s;
    }
  }
  .test{
    width: 100%;
  }
  .titlemenu {
    padding: 10px;
    font-weight: bold;
  }
  .descriptionmenu {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    text-overflow: ellipsis;
  }
  .price {
    font-weight: bold;
  }
  .bouton {
    border: none;
    width: 200px;
    margin: 30px auto;
    height: 50px;
    color: white;
    border-radius: 100px;
    background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    font-weight: bold;
    cursor: pointer;
    display: block;
  }
}
/*Footer*/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 140px;
  padding: 30px;
  a {
    color: white;
    display: block;
    margin: 5px;
    .footerOMF {
      font-family: "Shrikhand";
    }
    i {
      margin-right: 10px;
    }
  }
}


@media screen and (max-width: 1920px){
  section{
    max-width: 1137px;
    margin: 0 auto;
  }
}
